@font-face {
    font-family: 'Recoleta';
    src: url('/assets/recoleta-font.otf');
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

* {
    font-family: 'Recoleta';
    cursor: url('/assets/cursor.png'), auto;
}

body {
    margin: 0;
    padding: 0;
    margin-top: 25px;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: row;
}

nav {
    font-size: 1vw;
    font-style: italic;
    color: red;
    position: absolute;
    top: 0;
}

h1 {
    margin: 0;
    padding: 0;
    font-size: 5rem;
}

h2 {
    margin: 0;
    padding: 0;
    font-size: 3rem;
}

#column-one {
    display: flex;
    flex-direction: column;
    width: 50%;
}

#column-two {
    display: flex;
    flex-direction: column;
    width: 50%;
}

#oil_button {
    margin-top: 2.5%;
    width: 80%;
    height: 100%;
}

#diddy {
    margin-top: 2.5%;
    width: 50%;
}

.italic {
    font-style: italic;
}

.unitalic {
    font-style: normal;
}

.red {
    color: red;
}

.shop-button {
    width: 15%;
    height: 300%;
    border-radius: 10%;
}

button:hover {
    background-color: #e0e0e0;
    transition: 0.5s;
}

.vertical-line {
    border-left: 1px solid black;
    height: 100%;
    position: absolute;
    left: 48%;
    top: 0;
}

.overflow {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: clip;
}
