@font-face {
    font-family: 'Recoleta';
    src: url('/assets/recoleta-font.otf');
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

* {
    font-family: 'Recoleta';
    cursor: url('/assets/cursor.png') 13 13, auto;
}

body {
    margin: 0;
    padding: 0;
    margin-top: 25px;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

nav {
    font-size: 1vw;
    font-style: italic;
    color: red;
    position: absolute;
    top: 0;
    overflow: hidden;
}

h1 {
    margin: 0;
    padding: 0;
    font-size: 5vw;
}

p {
    font-size: 2vw;
}

#main-column {
    margin-left: 1%;
}

#oil-block {
    width: 100%;
    height: 100%;
    z-index: -1000;
    position: absolute;
    border: 1px solid black;
}

#friends-row {
    display: flex;
    flex-direction: row;
    overflow: hidden;
}
.no-margin {
    margin: 0;
}

#diddy {
    width: 90%;
    align-self: center;
    border: 1px black solid;
    transition: 0.5s;
}

#diddy:hover {
    border: 3px red solid;
    transition: 0.5s;
}

.column {
    width: 33%;
    height: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.shop-item {
    width: 80%;
    margin: 10px 0px 10px 0px;
    padding: 0% 5%;
    border: 1px black solid;
    align-self: center;
    border-radius: 50px;
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    background-color: white;
}



.friend {
    width: 150px;
    height: 150px;
}

.item-info {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    width: 50%;
}

.buy-buttons {
    padding: 5% 0%;
    display: flex;
    flex-direction: column;
}

.buy-button {
    width: 200%;
    border-radius: 50px;
}

.italic {
    font-style: italic;
}

.unitalic {
    font-style: normal;
}

.underline {
    text-decoration:underline;
}

.center {
    text-align: center;
}

.bold {
    font-weight: bold;
}

.red {
    color: red;
}

button:hover {
    background-color: #e0e0e0;
    transition: 0.5s;
}

.vertical-line {
    border-left: 3px solid black;
}

.overflow {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: clip;
}
