@font-face {
    font-family: 'Skibidi';
    src: url('recoleta-font.otf')
}

* {
    background-color: lightblue;
    font-family: 'Skibidi';
}

p {
    z-index: 1000;
}

h1, h2, h3 {
    text-align: center;
    z-index: 1000; 
}

button {
    width: 6vw;
    height: 5vh;
    border-radius: 50%;
    margin: 0 auto;
    display: block;
    z-index: 1000;
}

img {
    z-index: 999;
    position: static;
    width: 5vw;
    height: 5vh;
}